<div class='action-points'>action points: {{character.actionPoints}}</div>

<div class='damage-modifier'>damage modifier: {{character.damageModifier}}</div>

<div class='experience-modifier'>experience modifier: {{character.experienceModifier}}</div>

<div class='healing-rate'>healing rate: {{character.healingRate}}</div>
